h1{ font-family: monospace; color: rgb(59, 119, 174);}

.container{width: 500px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.box {
width: 150px;
height: 150px;
background-color: rgb(137, 230, 230);
margin: 1px;
transition :all 0.5s;
border : 2px soild darkkhaki ;
box-shadow: 10px 10px 4px rgb(22, 21, 21);
}
.box:hover{ background-color: rgb(130, 190, 184); }
body {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh; }

.animation-M {animation: M 3s infinite;}

@keyframes M {
0%{transform: translateX(0);}
30%{transform: translateX(0);}
100%{transform: translateX(0);}
}
